body {
  font-family: "Roboto", sans-serif;
}

header {
  box-sizing: border-box;

  height: 54px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;

  padding-right: 18px;
  padding-left: 18px;

  z-index: 3;

  position: fixed;
  top: 0;
}

.centralizada {
  height: 54px;
  width: 935px;
  margin: auto;

  font-size: 22px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itens-lateral-esquerda {
  display: flex;
}

.barrinha {
  height: 22px;
  width: 1px;
  margin: 0 12px;
  background-color: #dbdbdb;
}

.logo-mobile {
  display: none;
}

#procurar {
  padding: 6px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  background: #fafafa;
}

.itens-lateral-direita ion-icon {
  margin-left: 20px;
}

main {
  width: 100%;
  background-color: #fafafa;

  margin-top: 54px;

  display: flex;
  justify-content: center;
}

.feed {
  width: 614px;
  margin-right: 28px;
}

.storys {
  width: 614px;
  height: 118px;
  padding: 18px;
  margin-top: 34px;
  background-color: #ffffff;

  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;

  display: flex;
  overflow: hidden;
  position: relative;
}

.seta img {
  font-size: 26px;
  border-radius: 28px;
  box-shadow: 3px 2px 2px grey;

  z-index: 2;

  position: absolute;
  right: 0;
  top: 46px;
}

.story {
  width: 66px;
  margin-right: 14px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.story h5 {
  margin-top: 4px;

  line-height: 14px;
  font-weight: 400;
  font-size: 12px;
  color: #262626;
}

.background {
  width: 66px;
  height: 66px;
}

.foto-story {
  width: 56px;
  height: 56px;

  z-index: 1;

  position: absolute;
  right: 5px;
  left: 5px;
  top: 3px;
}

.post {
  width: 614px;
  margin-top: 24px;
  margin-bottom: 60px;
  border: 1px solid #dbdbdb;

  box-sizing: border-box;
  border-radius: 3px;

  background-color: #ffffff;
}

.post-superior {
  padding: 15px;

  display: flex;
  justify-content: space-between;
}

.post-superior-esquerda {
  display: flex;
  align-items: center;
}

.post-superior img {
  width: 32px;
  height: 32px;
  margin-right: 15px;
}

.post-superior p {
  font-weight: 500;
  font-size: 14px;
}

[name="ellipsis-horizontal-outline"] {
  color: #262626;
  font-size: 30px;
}

.video-principal {
  width: 100%;
}

.barra-interação {
  padding: 13px 18px 12px 18px;
  font-size: 20px;

  display: flex;
  justify-content: space-between;
}

.post .barra-interação ion-icon {
  margin-right: 18px;
}

.curtidas {
  padding: 0 0 13px 18px;

  display: flex;
  align-items: center;
}

.curtidas p {
  font-weight: 300;
  font-size: 14px;
}

.curtidas strong {
  font-weight: 500;
}

.curtidas img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

aside {
  width: 293px;
  padding-top: 57px;
}

.meu-perfil {
  margin-bottom: 24px;

  display: flex;
  align-items: center;
}

.meu-usuario {
  margin-left: 17px;

  line-height: 16px;
}
.sugestao {
  display: flex;
  justify-content: space-between;
}

.sugestao .direita {
  font-size: 12px;
  font-weight: 500;
  color: #8e8e8e;
}

.sugestao .esquerda {
  font-size: 12px;
  font-weight: 500;
  color: #262626;
}

.sugestao-perfis {
  margin-top: 17px;

  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
  align-items: center;
}

.perfil p {
  margin-top: 6px;
  font-size: 12px;
  font-weight: 400;
  color: #8e8e8e;
}

.perfil div {
  margin-left: 11px;
}

.botao-seguir {
  font-weight: 500;
  font-size: 12px;
  color: #139ef2;
}

aside strong {
  font-size: 14px;
  font-weight: 500;
  color: #262626;
}

aside p {
  font-weight: 300;
  color: #8e8e8e;
}

.menu {
  margin-top: 17px;

  font-weight: 400;
  font-size: 11px;
  color: #c7c7c7;
}

.reservado {
  margin-top: 18px;

  font-weight: 400;
  font-size: 11px;
  color: #c7c7c7;
}

footer {
  display: none;
}

@media (max-width: 935px) {
  .centralizada {
    width: 100%;
  }
  aside {
    display: none;
  }
}

@media (max-width: 614px) {
  .barrinha,
  .logo,
  .barra-de-pesquisa {
    display: none;
  }
  header [name="person-outline"],
  header [name="compass-outline"],
  header [name="heart-outline"] {
    display: none;
  }
  .logo-mobile {
    display: initial;
  }
  .storys,
  .post,
  .feed {
    width: 100%;
    margin-top: 0;
  }
  .seta {
    display: none;
  }
  .feed {
    margin-right: 0;
  }
  .foto-principal {
    width: 100%;
  }
  footer {
    box-sizing: border-box;

    height: 54px;
    width: 100%;

    background-color: #ffffff;
    border-top: 1px solid #dbdbdb;
    font-size: 18px;

    padding-right: 18px;
    padding-left: 18px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 3;

    position: fixed;
    bottom: 0;
  }
}
